
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family:'poppins';
  scroll-behavior:smooth;
}


:root{
  --DesaturatedDarkCyan: hsl(180, 29%, 50%);
  --LightGrayishCyanBackground: hsl(180, 52%, 96%);
  --LightGrayishCyanFilterTablets: hsl(180, 31%, 95%);
  --DarkGrayishCyan: hsl(180, 8%, 52%);
  --VeryDarkGrayishCyan: hsl(180, 14%, 20%);
   }

body {
  width: 100%;
}
#navbar {
  display: flex;
  justify-content: space-between;
  background: rgb(30, 31, 37);
  color: #edf0f1;
  padding: 1.1rem;
  position: sticky;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: #edf0f1;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
}
#navbar .logo {
  color: aqua;
  font-size: 25px;
}

#navbar ul li a:hover {
  color: aqua;
  cursor: pointer;
}

header {
  width: 100%;
  height: 520px;
  background-image: url("assets/images/home-image.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.header-title {
  position: absolute;
  top: 7.2rem;
  left: 4rem;
  letter-spacing: 3px;
  font-weight: bolder;
  font-size: 50px;
  line-height: 60px;
  color: #fff;
  text-shadow: 4px 2px 0px rgba(0, 0, 0, 0.2);
}
.header-title > span {
  color: aqua;
  font-weight: bold;
}
.search-wrapper {
  width: 60%;
  margin: auto;
  min-width: 300px;
  height: 3.6rem;
  position: relative;
}
.search-box {
  width: 100%;
  position: absolute;
  background-color: #5BA4A4;
  box-shadow: rgba(2, 11, 20, 0.2) 0px 5px 15px;
  top: -45%;
  height: 100%;
}
.search-card {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 0.5rem;
}
.search-input {
  height: 100%;
  width: 100%;
  border: none;
  padding: 0.5rem;
  font-size: 18px;
}
.search-button {
  width: 200px;
  background: #56288B;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}
.search-button:hover {
  background: black;
}

.social-icons {
 display: flex;
 justify-content: center;
  font-size: 30px;
  padding: 30px;
  gap: 15px;
  background: none;
}
h5{
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
}

.fa-twitter,.fa-linkedin-in{
color: blue;
}
.fa-instagram{
  color: red;
}
.fa-youtube{
  color:red;
}
@media (max-width: 640px) {
  #navbar {
    flex-direction: column;
    align-items: center;
  }

  #navbar .logo {
    margin-bottom: 0.5rem;
    text-align: center;
    color: aqua;
  }
  #navbar ul {
    padding: 0.5rem;
  }
  #navbar ul li a {
    padding: 0.5rem;
  }
  header .header-title {
    font-size: 30px;
  }
}
.container{
  max-width: 1440px;
  min-width: 375px;
  margin: 0 auto;
  }
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
.bg-header{
  background-color: #56288B;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
  font-size: 15px;
  color: #ffff;
  height: auto;
  }
.job-listing{
  margin-top: 50px;
}
.job-cards{
  border: 2px solid  #56288B;
  border-radius: 27px;
  margin: 25px auto;
  width: 80%;
  height: 130px;
  padding: 20px;
  font-size: 15px;
  }
  .job-cards:hover{
    background: #bde3f0;
    transform: scale(1.05);
    transition: 0.7s;
  }

.profile-img{
  width: 70px;
  height: 70px;
  }

.company-detail label{
  padding: 10px;
  margin: 10px;
  font-size: 15px;
  text-transform: uppercase;
  }

.position{
  padding: 5px;
  margin: 5px;
  font-weight: 700;
  font-size: 17px;
  }

.job-work-detail label{
    opacity: 0.7;
    padding: 5px;
    margin: 5px;
    font-size: 12px;
  }
.job-filter{
  color: var(--DesaturatedDarkCyan);
  display: flex;
  flex-wrap: wrap;
 }
.filter-label{
  background-color: var(--LightGrayishCyanBackground);
  padding: 10px;
  margin: 5px;
  border-radius:10px ;
  font-size: 16px;
  }
  .filter-label:hover{
    color:black;
    cursor: pointer;
  }
.filter-label-modal{
  background-color: var(--LightGrayishCyanBackground);
  padding: 7px;
  margin: 5px;
  color: var(--DesaturatedDarkCyan);
  font-size: 15px;

  }
.filter-modal{
  display: none;
  height: 70px;
  background-color: transparent;
  width: 80%;
  padding: 15px;
  margin: -30px auto;
  position: relative;
  z-index: 100;
  top:20px;
  }

   @media only screen and (max-width: 640px) {
    .flex{
      flex-direction: column;
      align-items: unset;
    }
    .job-cards{
      height: auto;
    }
    .profile-img {
      width: 60px;
      height: 60px;
      margin: 0px 0px 0px 30px;
    }
    .job-details {
      margin: 20px;
    }
    .points{
      font-size: 10px;
    }
  .job-card-text-right{
    margin: 10px;
    padding: 30px;
    }
}
.filter-modal-clear>a{
list-style: none;
text-decoration: none;
font-size: 20px;
}
.points{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  text-align: center;
}
.wrapper{
  margin-top: 50px;
}

.wrapper h1{
  font-size: 1.5rem;
  margin-bottom: 60px;
  text-align: center;
  color: #fff;
}
.team-tagline{
  background-color: #56288B;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
    font-size: 15px;
    color: #ffff;
    height: auto;
    margin-bottom: 100px;
}

.team{
  display: flex;
  justify-content: center;
  width:95%;
  text-align: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
  margin-left: 2%;
}

.team .team-member{
  margin: 5px;
  margin-bottom: 60px;
  width: 320px;
  padding: 20px;
  line-height: 28px;
  color: #8e8b8b;  
  position: relative;
  border: 2px solid #56288B;
}

.team .team-member h3{
  color: #56288B;
  font-size: 26px;
  margin-top: 50px;
}

.team .team-member p.role{
  color: grey;
  margin: 12px 0;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.team .team-member .team-img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
}

.team .team-member .team-img img{
  width: 102px;
  height: 102px;
  padding: 6px;
}
.team-member:hover{
  transform: scale(1.05);
  transition: 1.3s;
  background: #bde3f0;
}